@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    /* Primary colors */
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --veryDarkBlueMainBg: hsl(217, 54%, 11%); 
    --veyrDarkBlueCardBg: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlueMainBg);
}

.preview {
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--veyrDarkBlueCardBg);
    border-radius: 1em;
    padding-bottom: 1em;
}

.preview > * {
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin: 0.5em 1.25em;
}

.preview img {
    border-radius: 0.75em;
    margin: 1.25em;
}

.preview h3 {
    font-size: 1em;
    letter-spacing: 0.1em;
}

.preview p {
    font-size: 0.9em;
    font-weight: 300;
    color: var(--softblue);
    line-height: 1.25em;
}

.priceAndTime {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 0.0005em solid var(--softblue);
}

#price, #time {
    display: inline-flex;
}

#price svg, #time svg {
    align-self: center;
    margin-right: 0.25em;
}

#price p {
    color: var(--cyan);
    font-weight: 600;
}

#creator {
    display: inline-flex;
    align-items: center;
}

#creator img {
    width: 12%;
    border-radius: 1em;
    border: 0.1em solid white;
    margin: 0;
    margin-right: 1em;
}

#creator span {
    color: var(--white)
}

.attribution {
    color: var(--white);
    font-size: 1.5em; text-align: center;
}


.attribution a { 
    color: hsl(228, 45%, 44%);
}
